<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="parts/base :: meta"></head>

<body class="modal-open">

<div class="wrapper" >
	<header class="header">
		<div class="header_block" th:replace="parts/base :: header"></div>

		<div class="header_block" tiles:fragment="crumbs">
            <a href="#" th:href="@{/home}" class="step">Step 1: Define a Topic</a>
			<a href="#" th:href="@{${'/profile/found/' + profile.id + '/phrases'}}" class="step">Step 2: More facts</a>
			<a href="#" th:href="@{${'/profile/kept/' + profile.id + ''}}" class="step active_step">Step 3: Export facts <span class="blue_s" id="profileKept" th:text="${'('+profile.kept+')'}">(39)</span></a>
			<div class="clear"></div>
		</div>
	</header><!-- .header-->
	
	<main class="content" tiles:fragment="content">
		<div class="content_block">
            <h1 th:inline="text" id="profile.name">
                [[(!${viewDebug}) ? ${profile.name} : '']]
                <a th:if="${viewDebug}"
                   th:href="@{${'/profile/view/' + profile.id + '?query=' + profile.query}}"
                   th:text="${profile.name}">
                    [[${profile.name}]]</a>

                <span th:text="${'(' + profile.kept + ' facts kept)'}">(11 search results)</span>
            </h1>
			<div class="right_content">
				<div class="left_l">
				
				
				    <span class="send_mail" onclick="showEmailBox(event)">Send<br /> by e-mail</span>
				    <!--  email dialog -->
						<div id="emailDialog">
							<div class="d2">
								<div class="block_search_popup">
			                        <span class="ds1"></span>
	                                <span class="ds"></span>
									<div class="modal-content">
									       <div class="modal-header">
									           <h4 class="modal-title" id="myModalLabel">We send your facts to email:</h4>
									       </div>
									       <div class="modal-body">
									           <script type="text/javascript">
									            function rs(){
									                var decorator = $('#emailDecorator');
									                decorator.removeClass('has-error has-feedback');
									                $('.form-control-feedback').remove();
									            }
									            function send(){
									                var form = $('form[name=\'email\']');
									                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
									                if (regex.test($('#recipientEmail').val())){
									                    $.get( form.attr('action')+'?'+form.serialize(), function( data ) {
									                        if (data !== "0"){
									                            alert( "Error encountered. Email has not been sent." );
									                        }
									                    });
									                    showEmailBox();
									                } else {
									                    var decorator = $('#emailDecorator');
									                    decorator.addClass('has-error has-feedback');
									                    decorator.append('<span id="errIcon" class="glyphicon glyphicon-remove form-control-feedback"></span>');
									                }
									            }
									        </script>
									        <form action="http://localhost:8080/profile/email/kept/13"
									              th:action="@{'/profile/email/kept/' + ${profile.id}}" method="GET" name="email">
									            <div class="form-group" id="emailDecorator">
									                <input type="email" name="recipientEmail" id="recipientEmail" class="search_input_popup form-control"
									                      onclick="rs()" placeholder="enter.email@address.here" th:value="${user.email}"/>
									                <button type="button" class="search_btn_popup btn btn-primary" onclick="send()">Send</button>
									            </div>
									        </form>
									    </div>
									</div>
								</div>
							</div>
						</div>

				</div>
				<div th:each="mainPhrase, iterStat : ${mainPhrases}">
                    <div class="title_f">
						<span th:text="${#strings.abbreviate(mainPhrase.title,65)}"> Document title </span>
                        <span class="published_date" th:if="${mainPhrase.published != null}"
                              th:text="${' on ' + #joda.format(mainPhrase.published, 'MMM.d, Y')}">
                            on Jan. 2, 1999
                        </span>
						<a href="#" th:href="${mainPhrase.url}" target="_blank" th:text="${mainPhrase.docType.asString()}">PDF</a>
					</div>
					<div class="block_fact_s3" th:each="doc, docIter : ${keptDocs[mainPhrase.url]}">
						
						<span onclick="deleteKeptFact(this,1,1,1,1)" th:onclick="${'deleteKeptFact(this, ' + profile.id + ', &quot;' + doc.url + '&quot;,' + doc.getPosRangeMin() + ', ' + doc.getPosRangeMax() + ')'}" class="del_item"></span>
						<p th:utext="${doc.snippet}">1 Here is a sentence that relates to the search term. It will display a fact for the user. Keep reading this fact by using the arrows, left to right. Or view the source by clicking the link. You must realise that this sentence is three rows long.</p>
						
	                    <a th:if="${viewDebug}" class="debug_info" href="#"
						   th:href="@{/debug/fact(url=${doc.url},posRangeMin=${doc.posRangeMin},posRangeMax=${doc.posRangeMax})}" target="_blank">
	                        <span class="glyphicon glyphicon-cog"></span>
	                    </a>
	
					</div>
				</div>
			</div>	
		</div>
	</main><!-- .content -->

	<div tiles:fragment="scripts">
		<script th:inline="javascript">var profileKept = [[${profile.kept}]];</script>
        <script src="../../js/profile.js" th:src="@{/js/profile.js}"></script>
    </div>
</div><!-- .wrapper -->

<footer class="footer" th:replace="parts/base :: footer"></footer>

</body>
</html>